<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

      <title>添加新赛事</title>

    

	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	
	<!----><link href="/static/css/owl.carousel.css" rel="stylesheet">
	<link href="/static/css/owl.theme.css" rel="stylesheet">
	<link href="/static/css/owl.transitions.css" rel="stylesheet">
    <script src="/static/css/bootstrap-theme.min.css"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	
	<!----><link href="/static/css/gsdk.css" rel="stylesheet" /> 
    
    <link href="/static/style.css" rel="stylesheet">
	
	<link  href="/static/css/ystep.css" rel="stylesheet">		  
	<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">	
	<link rel="stylesheet" href="/static/css/spinner/bootstrap-spinner.min.css">

    <script src="/static/js/jquery.spinner.min.js"></script>

  </head>

	<body onload="openwin()" data-spy="scroll" data-target=".main-nav">

		
		{% include 'header.html' %}
		
	<!--<div class="page-header">
        <h1 style="text-align: center">
          <h1>
		  {% block title %}
		  
			{% endblock %}
			</h1> <small>
			{% block vicetitle %}
		  
			{% endblock %}
			</small>
        </h1>
	</div>	-->
        
						<div class="page-header">
        <h1 style="text-align: center">
          添加新赛事 <small></small>
        </h1>
		</div>

	<br>
	<br>

<form class="form-horizontal" role="form" method="post" >
{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-3 control-label">赛名</label>
		<div class="col-sm-4">
			<input class="form-control" name="name" type="text"  placeholder="赛事名">
		</div>
	</div>
	
	
	<div class="form-group">
		<label class="col-sm-3 control-label">赛事类型</label>
		<div class="col-sm-7">
			<input type="checkbox" id="checkbox1" checked=true>个人赛事
			<input type="checkbox" id="checkbox2">团队赛事
			<!--<label class="checkbox" for="checkbox1" >
				<input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">个人赛事
			</label>
			<label class="checkbox" for="checkbox2">
				<input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">团队赛事
			</label>-->
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">赛事类型</label>
		<div class="col-sm-4">
        <select name="type" id="parent" class="certification_type">
            <option value="null">请选择</option>
            <option value="0">个人赛事</option>
            <option value="1">团队赛事</option>
        </select>
		</div>
	</div>
	
	<div class="form-group" id="teammin" >
		<label class="col-sm-3 control-label">团队人数下限</label>
		<div class="col-sm-4">
          <div class="input-group spinner" data-trigger="spinner">
            <input type="text" class="form-control text-center" value="2" name="teammin" data-rule="quantity">
            <div class="input-group-addon">
              <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
              <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
            </div>
          </div>
        </div>
	</div>
	
	<div class="form-group" id="teammax">
		<label class="col-sm-3 control-label">团队人数上限</label>
		<div class="col-sm-4">
          <div class="input-group spinner" data-trigger="spinner">
            <input type="text" class="form-control text-center" value="4" name="teammax" data-rule="quantity">
            <div class="input-group-addon">
              <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
              <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
            </div>
          </div>
        </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">参赛人数上限</label>
		<div class="col-sm-4">
          <div class="input-group spinner" data-trigger="spinner">
            <input type="text" class="form-control text-center" value="40" name="num" data-rule="quantity">
            <div class="input-group-addon">
              <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
              <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
            </div>
          </div>
        </div>
	</div>
		
	<div class="form-group">
        <label  class="col-sm-3 control-label">报名开始时间</label>
		<div class="col-sm-4">
        <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
            <input class="form-control" size="16" type="text" value="" name="time1" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
		<input type="hidden" id="dtp_input1" value="" /><br/>
		</div>
    </div>
	<div class="form-group">
        <label  class="col-sm-3 control-label">报名截止时间</label>
		<div class="col-sm-4">
        <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
            <input class="form-control" size="16" type="text" value="" name="time2" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
		<input type="hidden" id="dtp_input1" value="" /><br/>
		</div>
    </div>
	<div class="form-group">
        <label for="dtp_input1" class="col-sm-3 control-label">比赛时间</label>
		<div class="col-sm-4">
        <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
            <input class="form-control" size="16" type="text" value="" name="time3" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
		<input type="hidden" id="dtp_input1" value="" /><br/>
		</div>
    </div>
	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">赛事详情</label>
		<div class="col-sm-7">
			<textarea class="form-control" name="detail" rows="4"></textarea>
		</div>
	</div>
	<br>
	<div class="form-group">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-9">
			<button class="btn btn-primary" {% if not request.session.auth %} disabled="disabled"{% endif %} type="submit" >确认添加</button>
		</div>
	</div>
</form>

<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
	$(document).ready(function(){
        document.getElementById("teammax").hidden=true;
        document.getElementById("teammin").hidden=true;		
		var obj1 = document.getElementById("checkbox1");
		obj1.onchange = function(){
			document.getElementById("checkbox2").checked=false;
			var b=document.getElementById("checkbox2").checked;
			//alert(b);
			if (b == false ) {
				document.getElementById("teammax").hidden=true;
				document.getElementById("teammin").hidden=true;	
			}
		}
		var obj2 = document.getElementById("checkbox2");
		obj2.onchange = function(){
			document.getElementById("checkbox1").checked=false;
			var b=document.getElementById("checkbox2").checked;
			//alert(b);
			if (b == true ) {
				document.getElementById("teammax").hidden=false;
				document.getElementById("teammin").hidden=false;	
			}
		}
    });
	function Check1()
	{
	
		/*var obj1 = document.getElementById("checkbox1");
		var obj2 = document.getElementById("checkbox2");
		document.getElementById("checkbox2").checked=false;
		var b = document.getElementById("checkbox2").checked;
			alert(b);
		if (b == true){
			alert('checked');
			document.getElementById("checkbox2").checked =  false;
		}*/
	}
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>
	

	  
		{% if messages %}
		<script>
			{% for msg in messages %}
			alert('{{ msg.message }}');
			{% endfor %}
		</script>
		{% endif %}
  
  
  
  </body>
	
    {% include 'footer.html' %}<!---->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.easing.min.js"></script>
	<script src="/static/js/jquery.stellar.js"></script>
	<script src="/static/js/jquery.appear.js"></script>
	<script src="/static/js/jquery.nicescroll.min.js"></script>
	<script src="/static/js/jquery.countTo.js"></script>
	<script src="/static/js/jquery.shuffle.modernizr.js"></script>
	<script src="/static/js/jquery.shuffle.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/jquery.ajaxchimp.min.js"></script>	
    <script src="/static/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<!--<script src="/static/js/script.js"></script>-->
	<script src="/static/js/gsdk-checkbox.js"></script>
	<script src="/static/js/gsdk-radio.js"></script>
	<script src="/static/js/gsdk-bootstrapswitch.js"></script>
	<script src="/static/js/get-shit-done.js"></script>
    <script src="/static/js/custom.js"></script>
  </body>
</html>



