{% extends 'base.html' %}

{% block title %}
<title>添加新赛事</title>
{% endblock %}

{% block content %}

<div class="page-header">
        <h1 style="text-align: center">
          添加新赛事 <small></small>
        </h1>

<form class="form-horizontal" role="form" method="post" >
{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-2 control-label">赛名</label>
		<div class="col-sm-10">
			<input class="form-control" name="name" type="text"  placeholder="赛事名">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">赛事时间</label>
		<div class="col-sm-10">
			<input class="form-control" name="time" type="text"  placeholder="时间">
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">赛事详情</label>
		<div class="col-sm-10">
			<textarea class="form-control" name="detail" rows="5"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-10">
			<button class="btn btn-primary" {% if not request.session.auth %} disabled="disabled"{% endif %} type="submit" >确认添加</button>
		</div>
	</div>
</form>

{% endblock %}