{% extends 'base.html' %}

{% block Title %}
<title>赛事</title>
{% endblock %}

{% block bread %}
<ol class="breadcrumb">
    <li><a href="/main/">平台</a></li>
    <li><a class="active">赛事</a></li>
</ol>
{% endblock %}

{% block content %}


{% block extracss %}
	<link href="/static/css/mix/reset.css" rel="stylesheet"/>
    <link href="/static/css/mix/style.css" rel="stylesheet"/>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/radialindicator/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/radialindicator/default.css">
	<link href="/static/css/radialindicator/project_base.css"  rel="stylesheet" type="text/css" />
    <link href="/static/css/radialindicator/radialindicator.css"  rel="stylesheet" type="text/css" />-->
	<link href="/static/css/radialindicator/base.css"  rel="stylesheet" type="text/css" />
{% endblock %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
	<div class="page-header">
        <h1 style="text-align: center">
          所有赛事 <small>共{{events_list.paginator.num_pages}}页</small>
        </h1>
	</div>	
	
        <div class="span12">	
		{% if request.session.auth > 0 %}
		  <button class="btn btn-default" onclick="location.href='/events/addevents'">添加赛事</button>
		{% endif %}
		<br><br>
      </div>
			<div class="tabbable" id="tabs-30026">
				<ul class="nav nav-tabs">
					<li class="active" >
						<a href="#panel-146781" data-toggle="tab">网格</a>
					</li>
					<li>
						<a href="#panel-363798" data-toggle="tab">列表</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-146781">		<br>
        <div class="controls">
            <!--<button type="button" data-mixitup-control class="control" data-filter="all">All</button><label >全部</label>
            <button type="button" data-mixitup-control class="control" data-filter=".blue">Green</button><label >即将开始</label>
            <button type="button" data-mixitup-control class="control" data-filter=".green">Blue</button><label >正在报名</label>
            <button type="button" data-mixitup-control class="control" data-filter=".yellow">yellow</button><label >正在报名</label>
            <button type="button" data-mixitup-control class="control" data-filter=".red">red</button><label >已结束</label>
            <button type="button" data-mixitup-control class="control" data-filter="none">None</button><label >空    </label>-->
			
			<button class="btn btn-default" data-mixitup-control data-filter="all">全部</button>
			<button class="btn btn-success" data-mixitup-control data-filter=".blue">即将开始</button>
			<button class="btn btn-info" data-mixitup-control data-filter=".green">正在报名</button>
			<button class="btn btn-warning" data-mixitup-control data-filter=".yellow">等待比赛</button>
			<button class="btn btn-danger" data-mixitup-control data-filter=".red">已结束</button>
			
            <button type="button" data-mixitup-control class="control" data-sort="default:asc">Asc</button>
            <button type="button" data-mixitup-control class="control" data-sort="default:desc">Desc</button>
        </div>

        <div class="container-mix">
			
            {% for line in events_list %}
            <div onclick="location.href='/events/{{line.id}}'" class="mix {{line.s4}} btn-{{line.s3}}" style="background-color='#4ecdc4'">
				
				<p style="font-size: 20px;"><strong>{{line.name}}</strong></p><br>
				<div class="container" style="width:100%">
					<div class="row">
						<div class="col-md-8">
							<div style="background:light{{line.s4}};">
								<p>报名截止：{{line.timeEvnStStr}}
								<br>比赛时间：{{line.timeEvnStStr}}</p>
					
							</div>
						</div>
						<div class="col-md-4">
							<br>
							<div class="prg-cont rad-prg" id="indicatorContainer_{{line.id}}" style="width:100%"></div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
        </div>
					</div>
					<div class="tab-pane" id="panel-363798">
						<div class="container-fluid">
						<br>
    <div class="row-fluid">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        项目
                    </th>
                    <th>
                        报名截止时间
                    </th>
                    <th>
                        比赛时间
                    </th>
                    <th>
                        状态
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for line in events_list %}
                <tr class="{{line.s3}}" ondblclick="location.href='/events/{{line.id}}'">
                    <td>
                        {{line.id}}
                    </td>
                    <td onclick="location.href='/events/{{line.id}}'">
                        {{line.name}}
                    </td>
                    <td>
                        {{line.timeRegEnStr}}
                    </td>
                    <td>
                        {{line.timeEvnStStr}}
                    </td>
                    <td>
                        {{line.s2}}
						{% if line.s2 == 2 %}
                        {% if line.maxRegCnt <= line.nowRegCnt %}
                        <font color="red">（报名已满）</font>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
</div>

<nav style="text-align: center">
<ul class="pagination">
    {% if events_list.has_previous %}
        <li><a href="?page={{ events_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% if events_list.number > 2 %}
        <li><a href="?page={{ events_list.number|add:"-2"}}">{{events_list.number|add:"-2"}}</a></li>
    {% endif %}
    {% if events_list.number > 1 %}
        <li><a href="?page={{ events_list.previous_page_number }}">{{events_list.number|add:"-1"}}</a></li>
    {% endif %}
        <li class="active"><a>{{events_list.number}}<span class="sr-only">(current)</span></a></li>
    {% if events_list.number < events_list.paginator.num_pages %}
        <li><a href="?page={{ events_list.next_page_number }}">{{events_list.number|add:"1"}}</a></li>
    {% endif %}
    {% if events_list.number < events_list.paginator.num_pages|add:"-1" %}
        <li><a href="?page={{ events_list.number|add:"2"}}">{{events_list.number|add:"2"}}</a></li>
    {% endif %}
    {% if events_list.has_next %}
        <li><a href="?page={{ events_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<script src="/static/js/mixitup.min.js"></script>

        <script>
            var containerEl = document.querySelector('.container-mix');

            var mixer = mixitup(containerEl, {			
				selectors: {
					control: '[data-mixitup-control]'
				},
                animation: {
                    effects: 'fade scale stagger(50ms)' // Set a 'stagger' effect for the loading animation
                },
                load: {
                    filter: 'none' // Ensure all targets start from hidden (i.e. display: none;)
                }
            });

            // Add a class to the container to remove 'visibility: hidden;' from targets. This
            // prevents any flickr of content before the page's JavaScript has loaded.

            containerEl.classList.add('mixitup-ready');

            // Show all targets in the container

            mixer.show()
                .then(function() {
                    // Remove the stagger effect for any subsequent operations

                    mixer.configure({
                        animation: {
                            effects: 'fade scale'
                        }
                    });
                });
        </script>
		<script type="text/javascript"  src="/static/js/base.js"></script>
	<script type="text/javascript"  src="/static/js/project_base.js"></script>	
    <script src="/static/js/radialindicator.js"></script>
    <script src="/static/js/demo.js"></script>
	{% for line in events_list %}
	<script type="text/javascript" >
$('#indicatorContainer_{{line.id}}').radialIndicator({
    barColor: {
        0: '#FF0000',
        33: '#eecc00',
        66: '#0066FF',
        100: '#33CC33'
    },
	radius: 30,
    minValue: 0,
    maxValue: {%if line.maxRegCnt == -1 %} 100, {% else %} {{line.maxRegCnt}}, {% endif %}
	initValue: {{line.nowRegCnt}}
});
	</script>
	{% endfor %}



{% endblock %}


