{% extends 'base.html' %}

{% block title %}
{{events.title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1 style="text-align: center">
          {{events.name}} <small>{{events.name}}</small>		
        </h1>
		<br><br>
		{% if request.session.auth > 0 %}		  
		  <button class="btn btn-default" type='button' onclick="location.href='/events/next/{{events.id}}'">下一阶段</button>
		  <button class="btn btn-default" data-toggle="modal" data-target="#myModal">删除该赛事</button>
		  <button class="btn btn-default"
              onclick="location.href='/qrcode/{{events.id}}'">生成报名二维码</button>
		{% endif %}
		  <button class="btn btn-success" onclick="location.href='/record/{{events.id}}'" style="float:right">查看报名</button>
      </div>
	  <br><br><br>
	  <div class="ystep1"></div>	  
	  <br><br><br>
      <div id="status" class="alert alert-{{events.s3}}">
        {{events.s2}}
      </div>
      <dl class="dl-horizontal">
        <dt>
          比赛时间
        </dt>
        <dd>
          {{events.date}}
        </dd>
        <dt>
          详细信息
        </dt>
        <dd>
          {{events.content}}
        </dd>
      </dl>	  
      <nav style="text-align: center; margin-bottom:20px"> 
		<button class="btn btn-primary" {% if not events.status == 2 %} name="sign" disabled="disabled"{% endif %} onclick="location.href='/events/sign/{{events.id}}/'" >立即报名</button>
		<button class="btn btn-link" {% if not events.status == 2 %} name="sign" disabled="disabled"{% endif %} onclick="location.href='/events/design/{{events.id}}/'" >取消报名</button>
	    </form>
	  </nav>
	  <!--{% if request.session.username %}
      <nav style="text-align: center; margin-bottom:20px"> 
        <button id="register" class="btn btn-primary" type="button"
        {% if signed %} disabled="disabled"{% endif %} onclick="register()">立即报名</button>
      </nav>
	  {% endif %}-->
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
				<h3 class="modal-title" id="myModalLabel">
					删除赛事
				</h3>
			</div>
			<div class="modal-body">
				是否删除该赛事
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="delevents()">
					确认
				</button>
				<button type="button" class="btn btn-default" 
						data-dismiss="modal">取消
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>


<script type="text/javascript">
 function delevents()
 {
	alert("删除该赛事！");
	location.href="/events/delete/{{events.id}}/";
 }	
</script>
<script src="/static/js/ystep.js"></script>
<script type="text/javascript">
$(".ystep1").loadStep({
      size: "large",
      color: "blue",
      steps: [{
        title: "即将开始",
        content: "报名即将开始"
      },{
        title: "正在报名",
        content: "报名后等待审核"
      },{
        title: "等待比赛",
        content: "报名已截止，请等待比赛。"
      },{
        title: "比赛结束",
        content: "比赛已结束，请查看成绩"
      }]
    });
$(".ystep1").setStep({{events.status}});	
</script>

{% endblock %}
