{% extends 'base.html' %}

{% block title %}
{{events.title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h1 style="text-align: center">
          {{events.name}} <small>{{events.name}}</small>        
        </h1>
      </div>
        <br><br>
        {% if request.session.auth > 0 %}          
          <button class="btn btn-default" type='button' disabled="disabled" onclick="location.href='/events/next/{{events.id}}'">下一阶段</button>
          <button class="btn btn-default" data-toggle="modal" data-target="#myModal">删除该赛事</button>
          <button class="btn btn-default"
              onclick="location.href='/events/setprizes/{{events.id}}'">设置奖项</button>
        {% endif %}
		  <button class="btn btn-default" data-toggle="modal" data-target="#qrCode">生成二维码</button>
          <button class="btn btn-success" onclick="location.href='/record/{{events.id}}'" style="float:right">查看报名</button>
          <button class="btn btn-success" onclick="location.href='/events/viewprizes/{{events.id}}'" style="float:right">查看获奖</button>
      <br><br><br>
      <div class="ystep1"></div>      
      <br><br><br>
      <div id="status" class="alert alert-{{events.s3}}">
        {{events.s2}}
      </div>
      <dl class="dl-horizontal">
		  <dt>
			  报名截止时间
		  </dt>
		  <dd>
			  {{ events.timeRegEnStr }}
		  </dd>
		  <dt>
			  比赛时间
		  </dt>
		  <dd>
			  {{ events.timeEvnStStr }}
		  </dd>
		  <dt>
			  详细信息
		  </dt>
		  <dd>
			  {{events.desc}}
		  </dd>
		  {% if events.teamMode == 0 %}
		  <dt>
			  人数限制
		  </dt>
		  <dd>
			  {% if events.maxRegCnt != -1 %} {{ events.maxRegCnt }} {% else %} 无限制 {% endif %}
		  </dd>
		  {% else %}
		  <dt>
			  团队数限制
		  </dt>
		  <dd>
			  {% if events.maxRegCnt != -1 %} {{ events.maxRegCnt }} {% else %} 无限制 {% endif %}
		  </dd>
		  {% endif %}
		  <dt>
			  每个团队人数限制
		  </dt>
		  <dd>
			  {{ events.teamMin }} - {{ events.teamMax }} 人
		  </dd>
		  <dt>
			  已报名人数/团队数
		  </dt>
		  <dd>
			  {{ events.nowRegCnt }}
			  {% if events.maxRegCnt == events.nowRegCnt %}
			  <font color="red">（报名已满）</font>
			  {% endif %}
		  </dd>
      </dl>
	  <br><br>
	  <!-- 这一坨屎就是用来组建团队的 -->
	  <div id="makeTeanPart" {% if maketeam == False %} hidden="hidden" {% endif %}>
		<table class="table table-hover">
		  <tbody>
		    <td style="width=45%;">
		      <div style="width=100%;">
			    <div class="page-header">
				  <h1 style="text-align: center">
					  <small>查找队友</small>
				  </h1>
			    </div>
				<div name="searchForm">
				  <div class="form-group">
					<label for="fullName">姓名：</label>
					<input type="text" class="form-control" id="fullName" name="fullname" placeholder="请输入姓名"
					    {% if fullName != ""  %} value="{{fullName}}" {% endif %}>
				  </div>
				  <div class="form-group">
					<label for="studentNumber">学号：</label>
					<input type="text" class="form-control" id="studentNumber" name="name" placeholder="请输入学号"
						   {% if studentNumber != ""  %} value="{{studentNumber}}" {% endif %}>
				  </div>
				  <button type="submit" class="btn btn-default" onclick="searchTeammate()">查找</button>
				</div>
			    <table class="table table-hover">
				  <thead>
				    <tr>
					  <th>昵称</th>
					  <th>姓名</th>
					  <th>学号</th>
					  <th>操作</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for user in searchUserList %}
				  <tr class="info" ondblclick="location.href='/user/{{user.id}}'">
					  <td>
						  {{user.name}}
					  </td>
					  <td>
						  {{user.fullname}}
					  </td>
					  <td>
						  {{user.student_number}}
					  </td>
					  <td>
						  <a onclick="addTeammate('{{user.id}}')">添加</a>
					  </td>
				  </tr>
				  {% endfor %}
			  </table>
		      </div>
			</td>
			<td style="width=10%;">
			</td>
			<td style="width=45%;">
	  	      <div style="width=100%;">
		  	    <div class="page-header">
			  	  <h1 style="text-align: center">
					  <small>已选队友</small>
			      </h1>
		      </div>
			    <table class="table table-hover">
			      <thead>
			        <tr>
				      <th>昵称</th>
				  	  <th>姓名</th>
				      <th>学号</th>
					  <th>操作</th>
			        </tr>
			      </thead>
			  <tbody>
			  {% for user in selectedUserList %}
			  <tr class="info" ondblclick="location.href='/user/{{user.id}}'">
				  <td>
					  {{user.name}}
				  </td>
				  <td>
					  {{user.fullname}}
				  </td>
				  <td>
					  {{user.student_number}}
				  </td>
				  <td>
					  <a onclick="removeTeammate('{{user.id}}')">移除</a>
				  </td>
			  </tr>
			  {% endfor %}
		    </table>
      	      </div>
			</td>
		  </tbody>
		</table>
	  </div>
		<nav style="text-align: center; margin-bottom:20px">
			<button class="btn btn-primary" id="signBtn"
					{% if events.status != 2 or events.maxRegCnt == events.nowRegCnt %}
						name="sign" disabled="disabled"
					{% endif %}
					{% if events.teamMode == 0 %}
					    onclick="location.href='/events/sign/{{events.id}}/'"
					{% elif maketeam == False %}
						onclick="showMakeTeamPart()"
					{% else %}
						onclick="teamsign()"
					{% endif %}>
				{% if events.teamMode == 0 %}
					立即报名
				{% elif maketeam == False %}
					组建队伍
				{% else %}
					提交队伍
				{% endif %}
			</button>
			<button class="btn btn-link"
					{% if not events.status == 2 %} name="sign" disabled="disabled"{% endif %}
					{% if events.teamMode == 0 %}
						onclick="location.href='/events/design/{{events.id}}/'"
					{% elif maketeam == False %}
						onclick="location.href='/events/design/{{events.id}}/'"
					{% else %}
						onclick="location.href='/events/{{events.id}}/'"
					{% endif %}>
				{% if events.teamMode == 0 %}
				取消报名
				{% elif maketeam == False %}
				取消报名
				{% else %}
				取消组队
				{% endif %}
			</button>
			</form>
		</nav>
	  <br><br><br>
      <!--{% if request.session.username %}
      <nav style="text-align: center; margin-bottom:20px"> 
        <button id="register" class="btn btn-primary" type="button"
        {% if signed %} disabled="disabled"{% endif %} onclick="register()">立即报名</button>
      </nav>
      {% endif %}-->
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h3 class="modal-title" id="myModalLabel">
                    删除赛事
                </h3>
            </div>
            <div class="modal-body">
                是否删除该赛事
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="delevents()">
                    确认
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    function delevents()
    {
        alert("删除该赛事！");
        location.href="/events/delete/{{events.id}}/";
    }
</script>

<!-- 团队报名的时候要选队友 -->
<script type="text/javascript">
    function showMakeTeamPart() {
        location.href='/events/{{events.id}}/maketeam/';
    }
</script>
<div class="modal fade" id="qrCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">×
				</button>
			</div>
			<div class="modal-body" style="text-align: center;">
                <img src="{% url 'qrcode' %}">
			</div>
			<div class="modal-footer">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    function hiddenMakeTeamPart() {
        document.getElementById("makeTeanPart").hidden="hidden";
    }
</script>
<script type="text/javascript">
    function searchTeammate() {
    	var fn = document.getElementById("fullName").value;
    	var sn = document.getElementById("studentNumber").value;
    	var se = "{{ selectedStr }}";
    	location.href = "/events/{{events.id}}/maketeam/"
    	              + "fn=" + fn + ";"
    	              + "sn=" + sn + ";"
    	              + "se=" + se + "/";
    }
</script>
<script type="text/javascript">
    function addTeammate(userId) {
    	var fn = "{{ fullName }}"
    	var sn = "{{ studentNumber }}"
    	var se = "{{ selectedStr }}";
		if (("," + se).match("," + userId + ",") == null) {
			se = se + userId + ","
		}
    	location.href = "/events/{{events.id}}/maketeam/"
    	              + "fn=" + fn + ";"
    	              + "sn=" + sn + ";"
    	              + "se=" + se + "/";
    }
</script>
<script type="text/javascript">
    function removeTeammate(userId) {
    	var fn = "{{ fullName }}"
    	var sn = "{{ studentNumber }}"
    	var se = "{{ selectedStr }}";
		while (("," + se).match("," + userId + ",") != null) {
			se = ("," + se).replace("," + userId + ",", ",").substring(1);
		}
    	location.href = "/events/{{events.id}}/maketeam/"
    	              + "fn=" + fn + ";"
    	              + "sn=" + sn + ";"
    	              + "se=" + se + "/";
    }
</script>
<script type="text/javascript">
    function teamsign() {
        alert("团队报名！");
    	var se = "{{ selectedStr }}";
    	location.href = "/events/teamsign/{{events.id}}/"
    	              + "se=" + se + "/";
    }
</script>

<script src="/static/js/ystep.js"></script>
<script type="text/javascript">
$(".ystep1").loadStep({
      size: "large",
      color: "blue",
      steps: [{
        title: "即将开始",
        content: "报名即将开始"
      },{
        title: "正在报名",
        content: "报名后等待审核"
      },{
        title: "等待比赛",
        content: "报名已截止，请等待比赛。"
      },{
        title: "比赛结束",
        content: "比赛已结束，请查看成绩"
      }]
    });
$(".ystep1").setStep({{events.status}});
</script>

{% endblock %}
