{% extends 'base.html' %}

{% block Title %}
<title id="baseIndexTitle">设置奖项 - 清华大学计算机系体育赛事平台</title>
{% endblock %}

{% block extracss %}<link href="/static/send_sheet.css" rel="stylesheet">{% endblock %}

{% block bread %}
	<ol class="breadcrumb">
    <li><a href="/main/">平台</a></li>
    <li><a href="/events/">赛事</a></li>
    <li><a class="active">设置奖项</a></li>
</ol>
{% endblock %}

{% block content %}
	
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
	        <div class="page-header">
                <h1 style="text-align: center">
                    {{event.name}} <small>奖项设置</small>
                </h1>
                <h4 style="text-align: center">
                    （请全部填写。若没有这么多名次请在框中填写0）
                </h4>
		    </div>
		    <form action="" method="POST">
		    {% csrf_token %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            名次
                        </th>
                        <th>
                            成绩
                        </th>
                        <th>
                            学号
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in prize_number %}
                        <tr class="{{record.status}}" ondblclick="location.href='/user/{{record.user_id}}'">
                            <td>
                                <input id="rank_{{i}}" name="rank_{{i}}" type="text" class="form-control" placeholder="名次">
                            </td>
                            <td>
                                <input id="score_{{i}}" name="score_{{i}}" type="text" class="form-control" placeholder="获奖者成绩">
                            </td>
                            <td>
                                <input id="number_{{i}}" name="number_{{i}}" type="text" class="form-control" placeholder="获奖者学号">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
		<div style="text-align:center">
			<button class="btn btn-info" type="submit" disabled="disabled" id="submit_btn">确认</button>

		</div>
		</form>
            <div style="text-align: center;">
                <button class="btn btn-info" type="button" onclick="commit()" >保存</button>
            </div>
            <script>
                function commit() {
                    var sn_list = new Array();
                    for (var i = 1; i <= 8; i++) {
                        sn_list[i] = $("#number_" + i).val();
                        if ($("#rank_" + i).val() === "" || $("#score_" + i).val() === "" || $("#number_" + i).val() === "") {
                            alert("请输入完整信息");
                            return;
                        }
                    }
                    console.log("sn_list = %s", sn_list.toString());

                    var xmlhttp, flag;
                    if (window.XMLHttpRequest) {
                        xmlhttp = new XMLHttpRequest();                         // code for IE7+, Firefox, Chrome, Opera, Safari
                    } else {
                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");       // code for IE6, IE5
                    }
                    // 接收到信息后进行的操作
                    xmlhttp.onreadystatechange = function() {
                        if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                            flag = xmlhttp.responseText;
                            if (flag !== 'succeeded'){
                                alert(flag + "是不存在的学号！");
                                return;
                            }
                            alert("成功");
                            $("#submit_btn").removeAttr("disabled");
                        }
                    }
                    var urlGET = "/events/static_refresh/" + sn_list.toString();
                    xmlhttp.open("GET", urlGET, true);
                    xmlhttp.send();
                }
            </script>
        </div>
    </div>
</div>
{% endblock %}
