{% extends 'base.html' %}

{% block title %}
<title>报名记录</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
	<div class="page-header">
        <h1 style="text-align: center">
            {{event.name}} 的报名记录 <small></small>
        </h1>
		<form action="" method="POST"> 
		{% csrf_token %}
        <button class="btn btn-default" type="button" onclick="location.href='/record_download_csv/{{event.id}}'">
				下载报名表(.csv)</button>
        <button class="btn btn-default" type="button" onclick="location.href='/record_download_xlsx/{{event.id}}'">
				下载报名表(.xlsx)</button>	
		<button class="btn btn-success" type="submit" onclick="///location.href='/edit_email/{{event.id}}'" style="float:right">
				审核并发送邮件</button>
		</div>
            <table class="table table-hover">
                <thead>
                <tr>
                    
                    <th>
                        时间
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        联系电话
                    </th>
                    <th>
                        邮箱
                    </th>
					<th>
                        
                    </th>
					<th>
                        审核
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for record in record_list %}
                <tr class="{{record.status}}" ondblclick="location.href='/user/{{record.user_id}}'">>
                    <td>
                        {{record.record_time}}
                    </td>
                    <td>
                        <a href="/user/{{record.user_id}}">{{record.user_name}}</a>
                    </td>
                    <td>
                        {{record.user_fullname}}
                    </td>
                    <td>
                        {{record.user_mobile}}
                    </td>
                    <td>
                        {{record.user_email}}
                    </td>
                    <td>
                        {{record.record_status}}
                    </td>
                    <td>
					{%if record.status == 2 %} 
						<input type="checkbox" name="checked" value="{{record.user_id}}" />
                        &nbsp;
					{% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
		</form>
    </div>
</div>

<nav style="text-align: center">
<ul class="pagination">
    {% if record_list.has_previous %}
        <li><a href="?page={{ record_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% if record_list.number > 2 %}
        <li><a href="?page={{ record_list.number|add:"-2"}}">{{record_list.number|add:"-2"}}</a></li>
    {% endif %}
    {% if record_list.number > 1 %}
        <li><a href="?page={{ record_list.previous_page_number }}">{{record_list.number|add:"-1"}}</a></li>
    {% endif %}
        <li class="active"><a>{{record_list.number}}<span class="sr-only">(current)</span></a></li>
    {% if record_list.number < record_list.paginator.num_pages %}
        <li><a href="?page={{ record_list.next_page_number }}">{{record_list.number|add:"1"}}</a></li>
    {% endif %}
    {% if record_list.number < record_list.paginator.num_pages|add:"-1" %}
        <li><a href="?page={{ record_list.number|add:"2"}}">{{record_list.number|add:"2"}}</a></li>
    {% endif %}
    {% if record_list.has_next %}
        <li><a href="?page={{ record_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>
{% endblock %}