{% extends 'base.html' %}

{% block Title %}
<title id="baseIndexTitle">报名记录 - 清华大学计算机系体育赛事平台</title>
{% endblock %}

{% block content %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.js"></script>-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css" rel="stylesheet" />-->
<!-- Include the required files -->
<style>
.CodeMirror,
.CodeMirror-scroll {
    max-height: 300px;
}
.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<form name="EditForm" method="POST" novalidate="">
{% csrf_token %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
	        <div class="page-header">
                <h1 style="text-align: center">
                    {{event.name}}
                    <small>报名记录</small>
                </h1>
            </div>
                <button class="btn btn-default" type="button" onclick="location.href='/record_download_csv/{{event.id}}'">
                    下载报名表(.csv)
                </button>
                <button class="btn btn-default" type="button" onclick="location.href='/record_download_xlsx/{{event.id}}'">
                    下载报名表(.xlsx)
                </button>
                <button class="btn btn-success" type="button" data-toggle="modal"
                    data-target="#confirm1" style="float:right">审核
                </button>
                <button class="btn btn-success" type="button" onclick="location.href='/events/{{event.id}}'" style="float:right">
                    返回比赛页面
                </button>
                <table class="table table-hover">
                    <thead>
                       <tr>
                            <th>
                                报名时间
                            </th>
                           {% if event.teamMode == 1 %}
                           <th>
                               队长
                           </th>
                           {% endif %}
                            <th>
                                用户名
                            </th>
                            <th>
                                姓名
                            </th>
                            <th>
                                联系电话
                            </th>
                            <th>
                                邮箱
                            </th>
        					<th>
                                审核状态
                            </th>
        					<th>
                                选择
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in record_list %}
                        <tr class="{{record.statusToClass}}" ondblclick="location.href='/user/{{record.record.userId}}'">
                            <td>
                                {{ record.timeRegStr }}
                            </td>
                            {% if event.teamMode == 1 %}
                            <td>
                                {{ record.captainFullname }}
                            </td>
                            {% endif %}
                            <td>
                                <a href="/user/{{record.user.id}}">{{ record.name | linebreaksbr }}</a>
                            </td>
                            <td>
                                {{ record.fullname | linebreaksbr }}
                            </td>
                            <td>
                                {{ record.mobile | linebreaksbr}}
                            </td>
                            <td>
                                {{ record.email | linebreaksbr}}
                            </td>
                            <td>
                                {{ record.statusStr | linebreaksbr}}
                            </td>
                            <td>
                                {% if record.status == 1 %}
                                <input type="checkbox" name="checked" value="{{record.userId}}|{{record.userIdSet}}"/>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>

<nav style="text-align: center">
<ul class="pagination">
    {% if record_list.has_previous %}
        <li><a href="?page={{ record_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% if record_list.number > 2 %}
        <li><a href="?page={{ record_list.number|add:"-2"}}">{{record_list.number|add:"-2"}}</a></li>
    {% endif %}
    {% if record_list.number > 1 %}
        <li><a href="?page={{ record_list.previous_page_number }}">{{record_list.number|add:"-1"}}</a></li>
    {% endif %}
        <li class="active"><a>{{record_list.number}}<span class="sr-only">(current)</span></a></li>
    {% if record_list.number < record_list.paginator.num_pages %}
        <li><a href="?page={{ record_list.next_page_number }}">{{record_list.number|add:"1"}}</a></li>
    {% endif %}
    {% if record_list.number < record_list.paginator.num_pages|add:"-1" %}
        <li><a href="?page={{ record_list.number|add:"2"}}">{{record_list.number|add:"2"}}</a></li>
    {% endif %}
    {% if record_list.has_next %}
        <li><a href="?page={{ record_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>

<div class="modal fade" id="confirm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">&times;
				</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:center">
                    审核选项
                </h4>
			</div>
            <div class="modal-body">
                <div style="text-align: center;">
                    {{ form.result }}
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div style="text-align: center;">
                        <button class="btn btn-success" type="button"
                                                        data-toggle="modal"
                                                        data-target="#confirm2" 
                                                        data-dismiss="modal"
                                                        id="get-template"
                            style="float:right">审核
                    </div>
                </div>
            </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="confirm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">&times;
				</button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:center">
                    发送审核信息
                </h4>
			</div>
            <div class="modal-body" id="editor_container">
                {{ form.content }}
                {% if event.teamMode == 1 %}
                <div style="text-align: center;">
                    <label for="{{ form.teamMode.id_for_label }}">只发送给队长</label>
                    {{ form.leaderOnly }}
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div style="text-align: center;">
                        <button class="btn btn-primary" type="submit">发送</button>
                    </div>
                </div>
            </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
</form>

<!-- Start simple MDE -->
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("editor"),
        status: false,
        spellChecker: false,
    });
    $("#get-template").click(function(){
        var x = document.forms["EditForm"]["result"].value;
        console.log(x);
        $.post("{% url 'confirm' %}",
        {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            result: x,
        },
        function(ret){
            simplemde.value(ret);
            simplemde.codemirror.refresh();
        });
       
    });
    $('#confirm2').on('shown.bs.modal', function () {
        simplemde.codemirror.refresh();
    });
</script>

{% endblock %}
