<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title id="baseIndexTitle">主页 - 清华大学计算机系体育赛事平台</title>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/font-awesome.min.css" rel="stylesheet">


		<link href="/static/css/owl.carousel.css" rel="stylesheet">
		<link href="/static/css/owl.theme.css" rel="stylesheet">
		<link href="/static/css/owl.transitions.css" rel="stylesheet">

		<link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/device.min.js"></script>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".main-nav">

		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
				<div class="container"><!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="/static/img/new3.png" alt="" class="img-responsive"></a>
					</div>
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#home">主页</a></li>
							<li><a href="#broadcast">公告</a></li>
							<li><a href="#team">系队</a></li>
							<li><a href="#show">风采</a></li>
							<li><a href="#celebrity">名人堂</a></li>
							<li><a href="#events">赛事</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if not request.session.username %}
								<li><a 
									href="https://accounts.net9.org/api/authorize?client_id=0eHhovG3K1NYkhbnYuYmej1h9wY&redirect_uri=http://{{request.get_host}}/authorized">登录</a></li>
							{% else %}
								<li><a href="/user/">{{request.session.username}}</a></li>
								<li><a href="/logout/">登出</a></li>	
							{% endif %}
                        </ul>

					</div><!-- /.navbar-collapse -->
					
				</div>
			</nav>
		</header>
		
		<section class="home" id="home" data-stellar-background-ratio="0.4">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<p class="hero-work">清华大学计算机系</p>
								<h2 class="hero-title">体育赛事平台</h2>
								<!-- <p class="hero-sub-title">We Provide Hight Quality Bootstrap Template</p> -->
								{% if not request.session.userid %}
								<a href="https://accounts.net9.org/api/authorize?client_id=0eHhovG3K1NYkhbnYuYmej1h9wY&redirect_uri=http://{{request.get_host}}/authorized" class="btn btn-default btn-lg left-btn">account9 登录</a>
								{% endif %}
								<a href="/events/" class="btn btn-primary btn-lg">进入平台</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="mouse-icon"><div class="wheel"></div></div>
		</section>
		
		</br></br></br></br></br>
	
		<section class="broadcast" id="broadcast">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>公告</h3>
							<p>今天的新闻就是明天的历史</p>
						</div>
						<div>
							<ul class="list-group">
								{% for line in broadcast %}									
									<li class="list-group-item">{% if line.new %}<span class="badge">新</span>{% endif %}<a href="/broadcast/{{line.id}}">{{line.title}}</a></li>
								{% endfor %}
							</ul>
						</div>
						<br>
						<div style="text-align:center">
							<a href="/broadcast/" class="btn btn-main btn-lg">查看更多</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		</br></br></br></br></br>
		
		<section class="team" id="team">
			{% for img in team %}
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>系队展示</h3>
							<p>{{img.name}}</p>
						</div>
						<div class="row mb90">
							<div class="col-md-6">
							</br>
							<p>{{img.detail}}</p>
							</div>
							<div class="col-md-6">
								<img src="{{img.url}}" alt="" class="img-responsive">
							</div>
						</div>					
							
							
						

					</div>
				</div>
			</div>
			{% endfor %}
		</section>
		
		</br></br></br></br></br>
		
<section class="show" id="show">
    <div class="container" style="width:90%; text-align: center;">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title st-center">
                    <h3>风采展示</h3>
                    <p>生命因运动精彩 体育让梦想成真</p>
                </div>
                <div id="myCarousel" class="carousel slide" >
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        {% for i in game_len %}
                        <li data-target="#myCarousel" data-slide-to="{{i}}" {% if i == 0 %} class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        {% for img in game %}
                        <div class="item {% if img.active == 1 %} active {% endif %} ">
                            <img src="{{img.url}}" class="img-responsive" style="width:100%">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 控制按钮 

<div style="text-align:center;">
	<input type="button" class="btn start-slide" value="Start">
	<input type="button" class="btn pause-slide" value="Pause">
	<input type="button" class="btn prev-slide" value="Previous Slide">
	<input type="button" class="btn next-slide" value="Next Slide">
	<input type="button" class="btn slide-one" value="Slide 1">
	<input type="button" class="btn slide-two" value="Slide 2">
	<input type="button" class="btn slide-three" value="Slide 3">
</div>-->
			<!--<div class="container-fluid ">
				<div class="row">
					<div class="col-md-12 no-padding ">
						<div class="section-title st-center">
							<h3>风采展示</h3>
							<p>生命因运动精彩  体育让梦想成真</p>
						</div>
						<div class="filter mb40">
							<form id="filter">
							<fieldset class="group">
								<label class="btn btn-default btn-main"><input type="radio" name="filter" value="all" checked="checked">全部</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="2017">2017年</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="2016">2016年</label>
							</fieldset>
							</form>
						</div>

						<div class="grid">
							<figure class="portfolio-item" data-groups='["2017"]'>
								<img src="/static/img/show1.jpg" alt="" style="width:100%; height:300px;"/>
								<figcaption>
									<h2>2017 <span>拔河</span></h2>
									<p>2017年新生拔河比赛</p>
									<a href="/static/img/show1.jpg" class="btn btn-main"><i class="fa fa-link"></i>   详情</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["2016"]'>
								<img src="/static/img/show3.jpg" alt="" style="width:100%; height:300px;"/>
								<figcaption>
									<h2>贵系 <span>男篮</span></h2>
									<p>贵系男篮训练</p>
									<a href="/static/img/show3.jpg" class="btn btn-main"><i class="fa fa-link"></i>   详情</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["2017"]'>
								<img src="/static/img/show2.jpg" alt="" style="width:100%; height:300px;"/>
								<figcaption>
									<h2>2017 <span>赤足运动会</span></h2>
									<p>2017年新生赤足运动会</p>
									<a href="/static/img/show2.jpg" class="btn btn-main"><i class="fa fa-link"></i>   详情</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["2017"]'>
								<img src="/static/img/show4.jpg" alt="" style="width:100%; height:300px;"/>
								<figcaption>
									<h2><span>跆拳道</span></h2>
									<p>跆拳道总冠军</p>
									<a href="/static/img/show4.jpg" class="btn btn-main"><i class="fa fa-link"></i>   详情</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["2016"]'>
								<img src="/static/img/show5.jpg" alt="" style="width:100%; height:300px;"/>
								<figcaption>
									<h2><span>男足</span></h2>
									<p>男足赛后合影</p>
									<a class="btn btn-main" data-toggle="modal" data-target="#myModal"><i class="fa fa-link"></i>   详情</a>
								</figcaption>
							</figure>
							
						</div>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4>男足赛后合影</h4>
								</div>
								<div class="modal-body">
									<img src="/static/img/show5.jpg" alt="" style="width:100%; height:100%;"/>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">关闭
									</button>
								</div>
							</div>
						</div>
					</div>

					</div>
				</div>
			</div>-->

		
		
		</br></br></br>
		
		<section class="celebrity" id="celebrity">
			<div class="container">
				<div class="row">
					<div class="section-title st-center">
							<h3>酒井名人堂</h3>
							<p>生活就像海洋 只有意志坚强的人 才能到达彼岸</p>
						</div>
					{% for img in celebrity %}
					<div class="col-md-5">
						<img src="{{img.url}}" alt="" class="img-responsive" style="padding-left:100px;">
					</div>
					<div class="col-md-7">
						<h3 class="bottom-line">个人简介</h3>
						<p> {{img.detail}}</p>
					</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</section>
		
		
		<section class="events" id="events">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>当前赛事</h3>
							<p>给自己一个机会 创造自己的精彩</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="events-table">
							<div class="events-header">
								<div class="pt-price">即将开始<small></small></div>
							</div>
							<div class="events-body">
								<ul>
									{% if events1_len == 0 %}
									<li> 暂无记录</li>
									{% endif %}
									{% for line in events1 %}
									<li> <a href="/events/{{line.id}}">{{line.name}} </a></li>
									{% endfor %}
								</ul>
							</div>
							<!--<div class="events-footer">
								<a href="/events/"  class="btn btn-default">查看</a>
							</div>-->
						</div>
					</div>
					<div class="col-md-4">
						<div class="events-table featured">
							<div class="events-header">
								<div class="pt-price">正在报名<small></small></div>
								<div class="featured-text">正在报名</div>
							</div>
							<div class="events-body">
								<ul>
									{% if events2_len == 0 %}
									<li> 暂无记录</li>
									{% endif %}
									{% for line in events2 %}
									<li> <a href="/events/{{line.id}}">{{line.name}} </a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="events-footer">
								<a href="/events/"  class="btn btn-main">查看更多</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="events-table">
							<div class="events-header">
								<div class="pt-price">比赛结束<small></small></div>
							</div>
							<div class="events-body">
								<ul>
									{% if events3_len == 0 %}
									<li> 暂无记录</li>
									{% endif %}
									{% for line in events3 %}
									<li> <a href="/events/{{line.id}}">{{line.name}} </a></li>
									{% endfor %}
								</ul>								
							</div>
							<!--<div class="events-footer">
								<a href="/events/" class="btn btn-default">查看</a>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		
		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">						
						<p>developed by <a href="http://garbagemayor.com">Garbagemayor</a></p>
					</div>
				</div>
			</div>
		</footer>
		
		{% if messages %}
		<script>
			{% for msg in messages %}
			alert('{{ msg.message }}');
			{% endfor %}
		</script>
		{% endif %}

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery.easing.min.js"></script>
		<script src="/static/js/jquery.stellar.js"></script>
		<script src="/static/js/jquery.appear.js"></script>
		<script src="/static/js/jquery.nicescroll.min.js"></script>
		<script src="/static/js/jquery.countTo.js"></script>
		<script src="/static/js/jquery.shuffle.modernizr.js"></script>
		<script src="/static/js/jquery.shuffle.js"></script>
		<script src="/static/js/owl.carousel.js"></script>
		<script src="/static/js/jquery.ajaxchimp.min.js"></script>
		<script src="/static/js/script.js"></script>
		
<script>
	$(function(){
		// 初始化轮播
			$("#myCarousel").carousel({interval:2000});/*
		$(".start-slide").click(function(){
			$("#myCarousel").carousel({interval:1000});
		});
		// 停止轮播
		$(".pause-slide").click(function(){
			$("#myCarousel").carousel('pause');
		});
		// 循环轮播到上一个项目
		$(".prev-slide").click(function(){
			$("#myCarousel").carousel('prev');
		});
		// 循环轮播到下一个项目
		$(".next-slide").click(function(){
			$("#myCarousel").carousel('next');
		});
		// 循环轮播到某个特定的帧 
		$(".slide-one").click(function(){
			$("#myCarousel").carousel(0);
		});
		$(".slide-two").click(function(){
			$("#myCarousel").carousel(1);
		});
		$(".slide-three").click(function(){
			$("#myCarousel").carousel(2);
		});*/
	});
</script>
    <script>
        if (device.mobile()===true) {
            $("#sept-main-nav").attr("style", "background-color: #9A9A9A;");
        }
    </script>

	</body>
</html>
