{% extends 'base.html' %}

{% block Title %}
<title>名人堂管理 - 清华大学计算机系体育赛事平台</title>
{% endblock %}

{% block content %}

<div class="page-header">
        <h1 style="text-align: center">
          名人堂管理 <small></small>
        </h1>
</div>
<br><br>

<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-2 control-label">姓名</label>
		<div class="col-sm-5">
			<input class="form-control" name="name" type="text"  placeholder="">
		</div>
	</div>
	<br>
	<div class="form-group">
		<label class="col-sm-2 control-label">选择照片</label>
		<div class="col-sm-5">
			<label class="sr-only" for="inputfile">文件输入</label>
			<input type="file" name="img">
		</div>
	</div>
	<br>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">人物简介</label>
		<div class="col-sm-7">
			<textarea class="form-control" name="detail" rows="5"></textarea>
		</div>
	</div>
	<br>
	<div class="form-group">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-10">
			<button class="btn btn-primary" {% if not request.session.auth %} disabled="disabled"{% endif %} type="submit" >确认添加</button>
		</div>
	</div>
</form>



{% endblock %}