{% extends 'base.html' %}

{% block title %}
<title>站内信</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
	        <div class="page-header">
                <h1 style="text-align: center">
                    我的站内信
                    <small>
                        我的站内信
                    </small>
                </h1>
            </div>
            <table class="table table-hover">
                <thead>
                   <tr>
                        <th>
                            标题
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in record_list %}
                    <tr>
                        <td onclick="location.href='/notes/{{record.id}}'">
                            {{record.title}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<nav style="text-align: center">
<ul class="pagination">
    {% if record_list.has_previous %}
        <li><a href="?page={{ record_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% if record_list.number > 2 %}
        <li><a href="?page={{ record_list.number|add:"-2"}}">{{record_list.number|add:"-2"}}</a></li>
    {% endif %}
    {% if record_list.number > 1 %}
        <li><a href="?page={{ record_list.previous_page_number }}">{{record_list.number|add:"-1"}}</a></li>
    {% endif %}
        <li class="active"><a>{{record_list.number}}<span class="sr-only">(current)</span></a></li>
    {% if record_list.number < record_list.paginator.num_pages %}
        <li><a href="?page={{ record_list.next_page_number }}">{{record_list.number|add:"1"}}</a></li>
    {% endif %}
    {% if record_list.number < record_list.paginator.num_pages|add:"-1" %}
        <li><a href="?page={{ record_list.number|add:"2"}}">{{record_list.number|add:"2"}}</a></li>
    {% endif %}
    {% if record_list.has_next %}
        <li><a href="?page={{ record_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>
{% endblock %}
