{% extends 'base.html' %}

{% block Title %}
<title id="baseIndexTitle">站内信 - 清华大学计算机系体育赛事平台</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
	        <div class="page-header">
                <h1 style="text-align: center">
                    我的站内信
                    <small>
                        共{{record_list.paginator.num_pages}}页
                    </small>
                </h1>
            </div>
		    <form action="" method="POST">
		        {% csrf_token %}
                <button class="btn btn-success" type="submit" style="float:right">
                    删除
                </button>
                <table class="table table-hover">
                    <thead>
                       <tr>
                           <th>
                               发信人
                           </th>
                            <th>
                                标题
                            </th>
                            <th>
                                时间
                            </th>
                            <th>
                                状态
                            </th>
                           <th>
                               <font face="黑体" color="#ACCBE8">
                                   <div style="display:inline;" onclick="selectAll()">
                                       全选
                                   </div>
                                   /
                                   <div style="display:inline;" onclick="selectInv()">
                                       反选
                                   </div>
                               </font>
                           </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in record_list %}
                        <tr ondblclick="location.href='/notes/{{record.id}}'"
                            {% if not record.isRead %} class="success" {% else %} class="info" {% endif %}>
                            <td>
                                <a href="/user/{{record.senderId}}">{{record.sender}}</a>
                            </td>
                            <td>
                                <a href="/notes/{{record.id}}">{{record.title}}</a>
                            </td>
                            <td>
                                {{record.createTimeStr}}
                            </td>
                            <td>
                                {% if record.isRead %} 已读 {% else %} 未读 {% endif %}
                            </td>
                            <td>
                                <input type="checkbox" name="checked" value="{{record.id}}"/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<script>
        function selectAll() {
            var clist = document.getElementsByName("checked");
            for (var i = 0; i < clist.length; i ++) {
                clist[i].checked = true;
            }
        }
    </script>
<script>
        function selectInv() {
            var clist = document.getElementsByName("checked");
            for (var i = 0; i < clist.length; i ++) {
                clist[i].checked = ! clist[i].checked;
            }
        }
    </script>

<nav style="text-align: center">
<ul class="pagination">
    {% if record_list.has_previous %}
        <li><a href="?page={{ record_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% if record_list.number > 2 %}
        <li><a href="?page={{ record_list.number|add:"-2"}}">{{record_list.number|add:"-2"}}</a></li>
    {% endif %}
    {% if record_list.number > 1 %}
        <li><a href="?page={{ record_list.previous_page_number }}">{{record_list.number|add:"-1"}}</a></li>
    {% endif %}
        <li class="active"><a>{{record_list.number}}<span class="sr-only">(current)</span></a></li>
    {% if record_list.number < record_list.paginator.num_pages %}
        <li><a href="?page={{ record_list.next_page_number }}">{{record_list.number|add:"1"}}</a></li>
    {% endif %}
    {% if record_list.number < record_list.paginator.num_pages|add:"-1" %}
        <li><a href="?page={{ record_list.number|add:"2"}}">{{record_list.number|add:"2"}}</a></li>
    {% endif %}
    {% if record_list.has_next %}
        <li><a href="?page={{ record_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>
{% endblock %}
