{% extends 'base.html' %} {% block Title %}
<title id="baseIndexTitle">图片管理 - 清华大学计算机系体育赛事平台</title>
{% endblock %} {% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<div class="page-header">
    <h1 style="text-align: center">
        图片管理
        <small>添加图片后可能进行需要设置</small>
    </h1>
</div>
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:center">
                    添加图片和描述
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div id="container">
                        <button class="btn btn-primary" id="pickfiles">
                            添加图片</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <img id="preview" src="" style="display: none;" class="thumbnail">
                </div>
                <div class="col-md-12">
                    <textarea id="editor"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div style="text-align: center;">
                        <button class="btn btn-primary" id="add_submit" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="set" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title" id="myModalLabel" style="text-align:center">
                    选项
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="text-align: center;">
                    {{ option_form }}
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div style="text-align: center;">
                        <button class="btn btn-primary" id="set_submit" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="publicStaticVar" hidden="hidden">0</div>
<div class="container-fluid">
    <div class="span12">
        <ul class="nav nav-pills" id="tablist">
            <li role="presentation" class="active" onclick="onSelected(0)">
                <a href="#all" id="all-tab" role="tab" data-toggle="tab">全部</a>
            </li>
            <li role="presentation" onclick="onSelected(-2)">
                <a href="#background" id="background-tab" role="tab" data-toggle="tab">首页</a>
            </li>
            <li role="presentation" onclick="onSelected(-1)">
                <a href="#game" id="game-tab" role="tab" data-toggle="tab">风采</a>
            </li>
        </ul>
        <script>
            function onSelected(k) {
                document.getElementById("publicStaticVar").innerHTML = k;
            }
        </script>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="all">
                <div class="col-md-12">
                    <table class="table table-striped table-hover text-left" style="margin-top:40px;">
                        <thead>
                            <tr>
                                <!-- <th>type</th> -->
                                <!-- <th>id</th> -->
                                <th>类型</th>
                                <th>缩略图</th>
                                <th>
                                    <font face="黑体" color="#ACCBE8">
                                        <div style="display:inline;" onclick="selectAll()">
                                            全选
                                        </div>
                                        /
                                        <div style="display:inline;" onclick="selectInv()">
                                            反选
                                        </div>
                                    </font>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for img in img_list %}
                            <tr {% if img.headline %} class="success" {% else %} class="info" {% endif %}>
                                <!-- <td>{{img.imgtype}}</td> -->
                                <!-- <td>{{img.id}}</td> -->
                                <td>{{img.imgtypename}}</td>
                                <td>
                                        <a href="{{img.url}}"><img class="thumbnail" src="{{img.url}}" style="max-height:100px"></a>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkedLall" value="{{img.id}}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="background">
                <div class="col-md-12">
                    <table class="table table-striped table-hover text-left" style="margin-top:40px;">
                        <thead>
                            <tr>
                                <th>类型</th>
                                <th>缩略图</th>
                                <th>
                                    <font face="黑体" color="#ACCBE8">
                                        <div style="display:inline;" onclick="selectAll()">
                                            全选
                                        </div>
                                        /
                                        <div style="display:inline;" onclick="selectInv()">
                                            反选
                                        </div>
                                    </font>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for img in background_list %}
                            <tr {% if img.headline %} class="success" {% else %} class="info" {% endif %}>
                                <td>{{img.imgtypename}}</td>
                                <td>
                                        <a href="{{img.url}}"><img class="thumbnail" src="{{img.url}}" style="max-height:100px"></a>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkedLbackground" value="{{img.id}}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="game">
                <div class="col-md-12">
                    <table class="table table-striped table-hover text-left" style="margin-top:40px;">
                        <thead>
                            <tr>
                                <th>类型</th>
                                <th>缩略图</th>
                                <th>
                                    <font face="黑体" color="#ACCBE8">
                                        <div style="display:inline;" onclick="selectAll()">
                                            全选
                                        </div>
                                        /
                                        <div style="display:inline;" onclick="selectInv()">
                                            反选
                                        </div>
                                    </font>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for img in game_list %}
                            <tr {% if img.headline %} class="success" {% else %} class="info" {% endif %}>
                                <td>{{img.imgtypename}}</td>
                                <td>
                                    <a href="{{img.url}}"><img class="thumbnail" src="{{img.url}}" style="max-height:100px"></a>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkedLgame" value="{{img.id}}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function selectAll() {
var a = localStorage.getItem('lastTab').substring(1);
var clist = document.getElementsByName("checkedL" + a);
for (var i = 0; i < clist.length; i++) {
clist[i].checked = true;
}
}
</script>
<script>
function selectInv(k) {
var a = localStorage.getItem('lastTab').substring(1);
var clist = document.getElementsByName("checkedL" + a);
for (var i = 0; i < clist.length; i++) {
clist[i].checked = !clist[i].checked;
}
}
</script>
<div>
<button class="btn btn-success" type="button" data-toggle="modal" id="add_button" data-target="#add" style="float:left">添加
</button>
<button class="btn btn-success" type="button" data-toggle="modal" id="set_button" data-target="#set" style="float:left">选项
</button>
</div>
<script>
var simplemde = new SimpleMDE({
element: document.getElementById("editor"),
status: false,
spellChecker: false,
});

// 添加图片,更新表格,保持在当前tab
$("#add_submit").click(function () {
$.post("{% url 'newimg' %}", {
csrfmiddlewaretoken: "{{ csrf_token }}",
url: $("#preview").attr('src'),
detail: simplemde.value(),
imgtype: document.getElementById("publicStaticVar").innerHTML,
},
function (ret) {
    console.log(ret);
    location.reload();
});
});

var lastTab = localStorage.getItem('lastTab');
$("a[href=" + lastTab + "]").tab('show');
$("a[data-toggle='tab']").click(function () {
localStorage.setItem('lastTab', $(this).attr('href'));
console.log(localStorage.getItem('lastTab'));
});

// 图片编辑
$("#set_submit").click(function () {
    var tmpl = [];
    $(":checked[name^='checked']").each(function () {
        console.log($(this).val());
        tmpl.push($(this).val());
    });
    console.log(tmpl + " checked");
    var tmp = $("#id_option").val();
    console.log(tmp);
    $.post("{% url 'set_img' %}", {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        idlist: tmpl.toString(),
        option: tmp,
    },
    function (ret) {
        console.log(ret);
        alert("设置成功");
        location.reload();
    });
});

</script>
<script>
// 七牛上传模块
$(function () {
var uploader = Qiniu.uploader({
disable_statistics_report: false, // 禁止自动发送上传统计信息到七牛，默认允许发送
runtimes: 'html5,flash,html4', // 上传模式,依次退化
browse_button: 'pickfiles', // 上传选择的点选按钮，**必需**
// 在初始化时，uptoken, uptoken_url, uptoken_func 三个参数中必须有一个被设置
// 切如果提供了多个，其优先级为 uptoken > uptoken_url > uptoken_func
// 其中 uptoken 是直接提供上传凭证，uptoken_url 是提供了获取上传凭证的地址，如果需要定制获取 uptoken 的过程则可以设置 uptoken_func
// uptoken : 'iuFSDhrkjCI_bYpSCzZumRBlYNZ48oVC6UZN9b4R:8tdP59f_JBPA00XGYl2uRP_Shyk=:eyJzY29wZSI6Imxyb290OnRlc3QiLCJkZWFkbGluZSI6MTUxMTMyNTAzOX0=', // uptoken 是上传凭证，由其他程序生成
uptoken_url: '/qiniu/', // Ajax 请求 uptoken 的 Url，**强烈建议设置**（服务端提供）
// uptoken_func: function(file){    // 在需要获取 uptoken 时，该方法会被调用
//    // do something
//    return uptoken;
// },
get_new_uptoken: false, // 设置上传文件的时候是否每次都重新获取新的 uptoken
// downtoken_url: '/downtoken',
// Ajax请求downToken的Url，私有空间时使用,JS-SDK 将向该地址POST文件的key和domain,服务端返回的JSON必须包含`url`字段，`url`值为该文件的下载地址
unique_names: true, // 默认 false，key 为文件名。若开启该选项，JS-SDK 会为每个文件自动生成key（文件名）
// save_key: true,                  // 默认 false。若在服务端生成 uptoken 的上传策略中指定了 `save_key`，则开启，SDK在前端将不对key进行任何处理
domain: 'http://oblc5mnxs.bkt.clouddn.com/', // bucket 域名，下载资源时用到，如：'http://xxx.bkt.clouddn.com/' **必需**
container: 'container', // 上传区域 DOM ID，默认是 browser_button 的父元素，
max_file_size: '100mb', // 最大文件体积限制
// flash_swf_url: '/static/Moxie.swf', //引入 flash,相对路径
max_retries: 3, // 上传失败最大重试次数
dragdrop: true, // 开启可拖曳上传
drop_element: 'container', // 拖曳上传区域元素的 ID，拖曳文件或文件夹后可触发上传
chunk_size: '4mb', // 分块上传时，每块的体积
auto_start: true, // 选择文件后自动上传，若关闭需要自己绑定事件触发上传,
//x_vars : {
//    自定义变量，参考http://developer.qiniu.com/docs/v6/api/overview/up/response/vars.html
//    'time' : function(up,file) {
//        var time = (new Date()).getTime();
// do something with 'time'
//        return time;
//    },
//    'size' : function(up,file) {
//        var size = file.size;
// do something with 'size'
//        return size;
//    }
//},
init: {
    'FilesAdded': function (up, files) {
        plupload.each(files, function (file) {
            // 文件添加进队列后,处理相关的事情
            $('#success').hide();
        });
    },
    'BeforeUpload': function (up, file) {
        // 每个文件上传前,处理相关的事情
    },
    'UploadProgress': function (up, file) {
        // 每个文件上传时,处理相关的事情

    },
    'FileUploaded': function (up, file, info) {

        // 每个文件上传成功后,处理相关的事情
        // 其中 info.response 是文件上传成功后，服务端返回的json，形式如
        // {
        //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
        //    "key": "gogopher.jpg"
        //  }
        // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html

        var domain = up.getOption('domain');
        console.log(domain);
        console.log(info);
        var res = JSON.parse(info);
        var sourceLink = domain + res.key; //获取上传成功后的文件的Url
        console.log(sourceLink);
        $('#preview').attr('src', sourceLink);
        $('#preview').show();
        $('#pickfiles').hide();

    },
    'Error': function (up, err, errTip) {
        //上传出错时,处理相关的事情
    },
    'UploadComplete': function () {
        //队列文件处理完毕后,处理相关的事情

    },
    'Key': function (up, file) {
        // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
        // 该配置必须要在 unique_names: false , save_key: false 时才生效

        var key = "";
        // do something with key here
        return key
    }
}
});


// domain 为七牛空间（bucket)对应的域名，选择某个空间后，可通过"空间设置->基本设置->域名设置"查看获取
// uploader 为一个 plupload 对象，继承了所有 plupload 的方法，参考http://plupload.com/docs
uploader.bind('FileUploaded', function () {
console.log('hello man,a file is uploaded');
});

});
</script>
<script src="https://cdn.staticfile.org/plupload/2.1.1/moxie.js"></script>
<script src="https://cdn.staticfile.org/plupload/2.1.1/plupload.dev.js"></script>
<script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script> {% endblock %}
