{% extends 'base.html' %}

{% block Title %}
<title id="baseIndexTitle">系队展示管理 - 清华大学计算机系体育赛事平台</title>
{% endblock %}

{% block bread %}
	<ol class="breadcrumb">
    <li><a href="/main/">平台</a></li>
    <li><a href="/managers/">管理</a></li>
    <li><a class="active">系队展示</a></li>
</ol>
{% endblock %}

{% block content %}

<div class="page-header">
        <h1 style="text-align: center">
          系队展示管理 <small></small>
        </h1>
</div>
<br><br>

<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-2 control-label">队名</label>
		<div class="col-sm-5">
			<input class="form-control" name="name" type="text"  placeholder="系队名称">
		</div>
	</div>
	<br>
	<div class="form-group">
		<label class="col-sm-2 control-label">选择图片</label>
		<div class="col-sm-5">
			<label class="sr-only" for="inputfile">文件输入</label>
			<input type="file" name="img">
		</div>
	</div>
	<br>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">详细资料</label>
		<div class="col-sm-7">
			<textarea class="form-control" name="detail" rows="5"></textarea>
		</div>
	</div>
	<br>
	<div class="form-group">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-10">
			<button class="btn btn-primary" {% if not request.session.auth %} disabled="disabled"{% endif %} type="submit" >确认添加</button>
		</div>
	</div>
</form>



{% endblock %}