{% extends 'base.html' %}

{% block title %}
<title>用户</title>
{% endblock %}

{% block extracss %}<link href="/static/send_sheet.css" rel="stylesheet">{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <form>
                <fieldset>
                    <legend contenteditable="false">用户</legend>
                    <label contenteditable="false">用户名</label>
                    <input type="text" value="root" disabled="true" style="color: gray;"/><span style="color: red; ">*</span>
                </fieldset>
            </form>
            <br>
			<form>
                <fieldset>
                    <legend contenteditable="false">班级</legend>
                    <label contenteditable="false">用户名</label>
                    <input type="text" value="root" disabled="true" style="color: gray;"/><span style="color: red; ">*</span>
                </fieldset>
            </form>
            <br>
			<form>
                <fieldset>
                    <legend contenteditable="false">手机</legend>
                    <label contenteditable="false">用户名</label>
                    <input type="text" value="root" disabled="true" style="color: gray;"/><span style="color: red; ">*</span>
                </fieldset>
            </form>
            <br>
			<form>
                <fieldset>
                    <legend contenteditable="false">邮箱</legend>
                    <label contenteditable="false">用户名</label>
                    <input type="text" value="root" disabled="true" style="color: gray;"/><span style="color: red; ">*</span>
                </fieldset>
            </form>
            <br>			
            <button class="btn btn-primary" type="submit">确认</button>
            
			<!--<form method="post" name="forms">
                {% csrf_token %}
                <fieldset>
                    <legend contenteditable="false">密码</legend>
                    <label contenteditable="false">原密码</label>
                    <span id=pwbox1><input type="password" name="old_password"/><span style="color: red; ">*</span></span>
                    <span id=click1><label class="checkbox">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" onclick="showpw1()"/>显示密码
                    </label></span>
                    <script language="JavaScript">
                        function showpw1() {
                            if (this.forms.old_password.type="password") {
                                document.getElementById("pwbox1").innerHTML="<input type=\"text\" name=\"old_password\" value="+this.forms.old_password.value+">";
                                document.getElementById("click1").innerHTML="<label class=\"checkbox\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"checkbox\" onclick=\"hidepw1()\" checked=\"true\"/>显示密码</label>"
                            }
                        }
                        function hidepw1() {
                            if (this.forms.old_password.type="text") {
                                document.getElementById("pwbox1").innerHTML="<input type=\"password\" name=\"old_password\" value="+this.forms.old_password.value+">";
                                document.getElementById("click1").innerHTML="<label class=\"checkbox\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"checkbox\" onclick=\"showpw1()\"/>显示密码</label>"
                            }
                        }
                    </script>
                    <label contenteditable="false">新密码</label>
                    <span id=pwbox2><input type="password" name="new_password"/><span style="color: red; ">*</span></span>
                    <span id=click2><label class="checkbox">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" onclick="showpw2()"/>显示密码
                    </label></span>
                    <script language="JavaScript">
                        function showpw2() {
                            if (this.forms.new_password.type="password") {
                                document.getElementById("pwbox2").innerHTML="<input type=\"text\" name=\"new_password\" value="+this.forms.new_password.value+">";
                                document.getElementById("click2").innerHTML="<label class=\"checkbox\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"checkbox\" onclick=\"hidepw2()\" checked=\"true\"/>显示密码</label>"
                            }
                        }
                        function hidepw2() {
                            if (this.forms.new_password.type="text") {
                                document.getElementById("pwbox2").innerHTML="<input type=\"password\" name=\"new_password\" value="+this.forms.new_password.value+">";
                                document.getElementById("click2").innerHTML="<label class=\"checkbox\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"checkbox\" onclick=\"showpw2()\"/>显示密码</label>"
                            }
                        }
                    </script>
                    <label contenteditable="false">确认密码</label>
                    <span id=pwbox3><input type="password" name="assure_password"/><span style="color: red; ">*</span></span>
                    <span id=click3><label class="checkbox">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" onclick="showpw3()"/>显示密码
                    </label></span>
                    <script language="JavaScript">
                        function showpw3() {
                            if (this.forms.assure_password.type="password") {
                                document.getElementById("pwbox3").innerHTML="<input type=\"text\" name=\"assure_password\" value="+this.forms.assure_password.value+">";
                                document.getElementById("click3").innerHTML="<label class=\"checkbox\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"checkbox\" onclick=\"hidepw3()\" checked=\"true\"/>显示密码</label>"
                            }
                        }
                        function hidepw3() {
                            if (this.forms.assure_password.type="text") {
                                document.getElementById("pwbox3").innerHTML="<input type=\"password\" name=\"assure_password\" value="+this.forms.assure_password.value+">";
                                document.getElementById("click3").innerHTML="<label class=\"checkbox\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"checkbox\" onclick=\"showpw3()\"/>显示密码</label>"
                            }
                        }
                    </script>
                    <p> {{ rlt }} </p>
                    <button class="btn" type="submit">提交</button>
                </fieldset>
            </form>--?
        </div>
    </div>
</div>
{% endblock %}
