{% extends 'base.html' %}
    
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="carousel slide" id="carousel-457841">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-457841">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-457841" class="active">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-457841">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="static/img/1.jpg"/>
                        <div class="carousel-caption">
                            <h4>
                                董又铭
                            </h4>
                            <p>
                                京中有善尬吹者。会宾客大宴，于厅室之东北角，高屋建瓴。
                            </p>
                        </div>
                    </div>
                    <div class="item active">
                        <img alt="" src="static/img/2.jpg"/>
                        <div class="carousel-caption">
                            <h4>
                                董二铭
                            </h4>
                            <p>
                                不知道这是给朕搞的名字，真是尬得不行啊。
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="static/img/3.jpg"/>
                        <div class="carousel-caption">
                            <h4>
                                自行车
                            </h4>
                            <p>
                                董二铭以自行车为工具，行侠仗义。2015年的学生节上大放异彩。
                            </p>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#carousel-457841" class="left carousel-control">‹</a> <a data-slide="next"
                                                                                                    href="#carousel-457841"
                                                                                                    class="right carousel-control">›</a>
            </div>
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <img alt="300x200" src="static/img/luohy.jpg"/>
                        <div class="caption">
                            <h3>
                                罗华一
                            </h3>
                            <p>
                                著名收藏家，插件专家。收藏各式各样的笔记本电脑，玩转千奇百怪的操作系统，精通乱七八糟的终端命令。打篮球崴到了脚，目前处于休息期。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img alt="300x200" src="static/img/tanyj.jpg"/>
                        <div class="caption">
                            <h3>
                                谭懿峻
                            </h3>
                            <p>
                                高达模型专家，英雄联盟钻石选手。由于校园网丢包以及电脑配置较低，目前仍在白银分段。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img alt="300x200" src="static/img/yangjy.jpg"/>
                        <div class="caption">
                            <h3>
                                杨跻云
                            </h3>
                            <p>
                                公认的人生赢家，英俊的外表加上超人的软实力，目前还在做线代作业。
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

