<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

      {% block title %}
      <title>Base Index</title>
      {% endblock %}

    {% block extracss %}{% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">

	<link href="/static/css/owl.carousel.css" rel="stylesheet">
	<link href="/static/css/owl.theme.css" rel="stylesheet">
	<link href="/static/css/owl.transitions.css" rel="stylesheet">
	<!----><link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/css/bootstrap-theme.min.css"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--<link href="/static/style.css" rel="stylesheet">-->
	
	<link  href="/static/css/ystep.css" rel="stylesheet">		  
	<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    {% load staticfiles %}

  </head>

  <body onload="openwin()">

  {% include 'header.html' %}
  <br><br><br>
      {% block content %}
      <div>加载中</div>
      {% endblock %}
  {% if messages %}
  <script>
      {% for msg in messages %}
          alert('{{ msg.message }}');
      {% endfor %}
  </script>
  {% endif %}
  
  
  
  
  
  </body>

    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.easing.min.js"></script>
	<script src="/static/js/jquery.stellar.js"></script>
	<script src="/static/js/jquery.appear.js"></script>
	<script src="/static/js/jquery.nicescroll.min.js"></script>
	<script src="/static/js/jquery.countTo.js"></script>
	<script src="/static/js/jquery.shuffle.modernizr.js"></script>
	<script src="/static/js/jquery.shuffle.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/jquery.ajaxchimp.min.js"></script>
	<script src="/static/js/script.js"></script>
  </body>
</html>
