.body {

  min-height: 2000px;

  padding-top: 70px;

}


.footer {

  padding: 40px 0;

  color: #999;
  text-align: center;

  background-color: #f9f9f9;

  border-top: 1px solid #e5e5e5;

}

.footer p:last-child {

  margin-bottom: 0;

}

.nicescroll-rails {
  background: rgba(0, 0, 0, 0.1);
  width: 5px;
  z-index: 9999 !important;
}
.nicescroll-rails:hover {
  opacity: 1 !important;
}
.nicescroll-rails > div {
  background: #2894ff !important;
}
.btn {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 40px;
  padding: 8px 30px;
  margin-bottom: 5px;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
          transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.btn.btn-lg {
  padding: 10px 35px;
  letter-spacing: 2px;
  font-size: 21px;
}
.btn.btn-sm {
  padding: 7px 20px;
  font-size: 14px;
}
.btn.btn-xs {
  padding: 5px 15px;
  font-size: 12px;
}
.btn-default {
  color: #676767;
  border-color: #e5e5e5;
}
.btn-default:hover {
  color: #fff;
  background-color: #2894ff;
  border-color: #2894ff;
}
.btn-default-o {
  color: #f2f2f2;
  border-color: #f2f2f2;
  background-color: transparent;
}
.btn-default-o:hover {
  color: #2894ff;
  background-color: #fff;
  border-color: #fff;
}
.btn-main-o {
  color: #2894ff;
  border-color: #2894ff;
  background-color: transparent;
}
.btn-main-o:hover {
  color: #fff;
  background-color: #2894ff;
  border-color: #2894ff;
}
.btn-dark-o {
  color: #4c4c4c;
  border-color: #4c4c4c;
  background-color: transparent;
}
.btn-dark-o:hover {
  color: #fff;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}
.btn-dark {
  color: #fff;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  background-color: #333333;
  border-color: #333333;
  color: #fff;
}
.btn-main {
  color: #fff;
  background-color: #2894ff;
  border-color: #2894ff;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active {
  background-color: #33b5ac;
  border-color: #33b5ac;
  color: #fff;
}
.btn-link {
  font-weight: 400;
  color: #2894ff;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  color: #4c4c4c;
  text-decoration: none;
}

.navbar-default {
  background-color: rgba(40, 40, 170, 0.95);
  height: 60px;
}
.navbar-default .navbar-brand img {
  height: 30px;
}
.navbar-nav > li > a {
  font-family: "Microsoft YaHei";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  color: #fff;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active {
  color: #2894ff;
  outline-width: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active a:hover,
.navbar-default .navbar-nav > li.active a:focus,
.navbar-default .navbar-nav > li.active a:active {
  color: #2894ff;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav .dropdown-toggle > li.active > a,
.navbar-default .navbar-nav .dropdown-toggle > li.active a:hover,
.navbar-default .navbar-nav .dropdown-toggle > li.active a:focus,
.navbar-default .navbar-nav .dropdown-toggle > li.active a:active {
  color: #2894ff;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2894ff;
}