{% extends 'base.html' %}

{% block title %}
<title>赛事</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        项目
                    </th>
                    <th>
                        比赛时间
                    </th>
                    <th>
                        报名状态
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                    <td>
                        1
                    </td>
                    <td>
                        男子跳高
                    </td>
                    <td>
                        2017/10/18-8:00
                    </td>
                    <td>
                        正在报名
                    </td>
                    <td>
                        立即报名
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        2
                    </td>
                    <td>
                        女子100米
                    </td>
                    <td>
                        2017/10/18-9:00
                    </td>
                    <td>
                        正在报名
                    </td>
                    <td>
                        立即报名
                    </td>
                </tr>
                <tr class="error">
                    <td>
                        3
                    </td>
                    <td>
                        女子铁人三项
                    </td>
                    <td>
                        2017/10/18-9:40
                    </td>
                    <td>
                        报名截止
                    </td>
                    <td>
                        ————
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        4
                    </td>
                    <td>
                        男子3000米
                    </td>
                    <td>
                        2017/10/18-10:20
                    </td>
                    <td>
                        正在报名
                    </td>
                    <td>
                        立即报名
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        5
                    </td>
                    <td>
                        麻将
                    </td>
                    <td>
                        2017/10/18-21:00
                    </td>
                    <td>
                        尚未开启
                    </td>
                    <td>
                        ————
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
